@import normalize
@import base/mixins
@import layout
@import header

.logo-container
  border-radius: 50%
  width: 160px
  height: 160px
  background: #fff
  margin: 0 auto
  position: absolute
  top: -60px
  right: -60px

.logo-image, .logo-lines
  position: absolute
  left: 10px
  top: 50px

.logo-lines
  top: 44px
  left: 12px
  transition: transform 2s ease-in-out
  transform: rotate(0deg)
  transform-origin: center

  &:hover
    transform: rotate(360deg)
    //animation: spin 1s infinite ease-in-out

@keyframes spin
    0%
      transform: translate(-50%, -50%) rotate(0deg)
    100%
      transform: translate(-50%, -50%) rotate(360deg)


.text-container
  margin-top: 140px
  background: #fff
  padding: 40px
  border-radius: 5px
  box-sizing: border-box
  width: 500px
  margin: 140px auto 0

  a
    color: $brand-color

  @include mq-mobile
    width: 100%
    margin: 0 auto
    padding: 20px
    background: none
