@import base/_variables
@import base/_helpers
@import base/mixins

body
  background: rgb(225,225,225)

.container
  margin: 0 auto
  padding: 20px 20px
  box-sizing: border-box
  max-width: $max-content-width
  @extend %clearfix;;

  @include mq-mobile
    width: 100%

.footer
  position: fixed
  bottom: 0

  @include mq-mobile
    position: absolute
    background: #fff
