<div class="logo-container">
  <img class="logo-image" src="images/logo_geometry.svg"  height="100px" width="100px"/>
  <img class="logo-lines" src="images/logo_lines.svg"  height="105px" width="100px"/>
</div>
<div class="text-container">
  <p>Hi! My name is Kadosa and I build things for the web. I'm open for contract work remotely, in London, or in any other nice, tropical location.</p>
  <p>Have a look at my <a href="http://kadosa.org/assets/portfolio_2015.pdf" target="_blank">portfolio</a> or see my <a href="http://kadosa.org/assets/Kadosa_Orosz_CV_2016.pdf" target="_blank">CV</a> for my work experience.</p>
  <p>If you have any potential projects you'd like to talk about, feel free to send me an <a href="mailto:hello@kadosa.org">email</a>.</p>
</div>
