%clearfix
  &:after
    content: ""
    display: table
    clear: both

%hexagon
  position: relative
  transform: rotate(120deg)
  &:before
    content: ""
    position: absolute
    top: 0px
    left: -30px
    width: 0
    height: 0
    border-top: 52px solid transparent
    border-bottom: 52px solid transparent
    border-right: 30px solid red

  &:after
    content: ""
    position: absolute
    right: -30px
    top: 0
    width: 0
    height: 0
    border-top: 52px solid transparent
    border-bottom: 52px solid transparent
    border-left: 30px solid red
