@import url(https://fonts.googleapis.com/css?family=Raleway)

/*
 * Colors
 * ========================================================================== */

$white-base:            hsl(255, 255, 255)
$gray-darker:           #222
$gray-dark:             #404040
$gray:                  #555
$gray-light:            #777
$gray-lighter:          #eee


$blue: #8bacbd
$gray-front: #d6dde3
$gray-back: #fbfbf9
$dark: #040000

$brand-color: #3c948b

/*
 * Typography
 * ========================================================================== */
$font-family-base: 'Raleway', 'HelveticaNeue-Light', sans-serif

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1240px

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px  /* Extra small screen / phone */
$screen-phablet-min:         640px  /* Extra small screen / phone */
$screen-sm-min:         768px  /* Small screen / tablet */
$screen-md-min:         992px  /* Medium screen / desktop */
$screen-lg-min:         1200px /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s
